{
  "presets": ["next/babel"],
  "plugins": [
    [
      "styled-components",
      {
        "ssr": true,
        "displayName": true,
        "preprocess": false
      }
    ],
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@components": "./src/components",
          "@layouts": "./src/layouts",
          "@styles": "./src/styles",
          "@icons": "./src/components/icons",
          "@config": "./src/config",
          "@hooks": "./src/hooks"
        }
      }
    ]
  ]
}
