.bottomNav {
  position: fixed;
  bottom: 2rem;
  width: max-content;
  padding: 0.3rem 1.7rem;
  backdrop-filter: blur(5px);
  display: flex;
  gap: 1rem;
  background: rgba(0, 0, 0, 0.4);
  left: 0;
  right: 0;
  margin: 0 auto;
  border-radius: 900px;
  a {
    background: transparent;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 1.25rem;
    padding: 5px;
    margin: 10px;
    cursor: pointer;
  }
  a:hover {
    background: #0a1531;
    color: white;
    transition: all 0.5s ease-in-out;
  }
  a.active {
    background: #0a1531 !important;
    color: white;
  }
}

@media only screen and (min-width: 766px) {
  .bottomNav {
    display: none;
  }
}
